/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: rgb(238, 252, 238) !important;

  background-image: linear-gradient(
    to bottom right,
    rgb(225, 255, 225),
    rgb(238, 252, 238)
  ) !important;
}
