a {
  text-decoration: none;
  cursor: pointer;
}
.bgColor,
.bgButtonColor {
  background-color: #79ac78;
}

button {
  border: none;
}

.boardHeaderContainer {
  background-color: #618264;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.card {
  background-color: #d0e7d2;
  border-radius: 0;
}
.filter {
  font-size: 30px;
  color: #618264;
}
.boardHeader {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media (max-width: 768px) {
  img {
    // text-align: center;
    margin: 0 auto;
  }
}
