a {
  text-decoration: none;
  cursor: pointer;
}
.bgColor {
  background-color: #79ac78;
}
.bgButtonColor {
  background-color: #618264;
}
.emp-card {
  background-color: #d0e7d2;
}
.filter {
  font-size: 30px;
  color: #618264;
}
.boardHeader {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
