h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.card {
  background-color: #d0e7d2;
  border: 0;
  border-radius: 0;
}
.textColor {
  color: darkblue;
}
.bgButtonColor {
  background-color: #618264;
  border: 0;
}
