<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card w-50 m-auto my-5 shadow">
        <div class="headerColor p-3 mb-4">
          <h1 class="text-light">Change Password</h1>
        </div>

        <div class="card-body mb-3" *ngIf="!success">
          <form [formGroup]="changePasswordForm">
            <div class="mb-3">
              <label for="password" class="form-label"
                >Enter New Password:</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
                [ngClass]="{'is-invalid':changePasswordForm.controls?.['password']?.invalid && changePasswordForm.controls?.['password']?.touched}"
              />
              <small
                *ngIf="changePasswordForm.controls?.['password']?.errors?.['required']"
                class="invalid-feedback text-danger"
              >
                Required
              </small>
            </div>
          </form>
          <button
            type="submit"
            class="bgButtonColor text-light p-2"
            (click)="onSubmitChangePasswordFormData()"
          >
            Change Password
          </button>
        </div>
        <div
          class="alert alert-success bg-light w-75 m-auto mb-3 shadow"
          *ngIf="success"
        >
          <p class="text-success fw-bold success">Success!</p>
          <p class="text-success">Password Changed Successfully!</p>
        </div>
      </div>
    </div>
  </div>
</div>
