.bgButtonColor {
  background-color: #618264;
  border: 0;
}
.card {
  border: none;
  border-radius: 0;
  background-color: #d0e7d2;
  position: relative;
}
.headerColor {
  background-color: #618264;
}
input,
.alert {
  border-radius: 0;
}
.success {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bgBackButtonColor {
  background-color: #618264;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
}
