<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card m-auto my-5 shadow">
        <div class="headerColor p-3 mb-4">
          <h1 class="text-light">Reset Password</h1>
        </div>

        <div class="card-body mb-3" *ngIf="!success">
          <form [formGroup]="forgotPasswordForm">
            <div class="mb-3">
              <label for="email" class="form-label">Enter Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                [ngClass]="{'is-invalid':forgotPasswordForm.controls?.['email']?.invalid && forgotPasswordForm.controls?.['email']?.touched}"
              />
              <small
                *ngIf="forgotPasswordForm.controls?.['email']?.errors?.['required']"
                class="invalid-feedback text-danger"
              >
                Required
              </small>
            </div>
          </form>
          <button
            type="submit"
            class="bgButtonColor text-light p-2"
            (click)="onResetPassword()"
          >
            Reset Password
          </button>
        </div>
        <div
          class="alert alert-success bg-light w-75 m-auto mb-3 shadow"
          *ngIf="success"
        >
          <p class="text-success fw-bold success">Success!</p>
          <p class="text-success">
            Please check your email and click on verification link to reset your
            password
          </p>
        </div>
        <!-- <div class=""> -->
        <button
          type="button"
          class="bgBackButtonColor text-light p-2"
          routerLink=""
        >
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Back to
          Signin
        </button>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
