.user_icon {
  font-size: 20px;
  font-weight: bold;
}
.bgColor {
  background-color: #618264;
}
.bgButtonColor {
  background-color: #2b432d;
  border: 0;
  font-size: 20px;
  margin-top: -8px;
  margin-right: 10px;
}
.brandNameBox {
  position: relative;
}
.loginBox {
  position: absolute;
  right: 0;
}
