<nav class="navbar navbar-expand-lg navbar-light bgColor">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="d-md-flex justify-content-between py-2">
        <div class="brandNameBox">
          <a class="navbar-brand text-warning">EmpApp</a>
        </div>
        <!-- <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Contact</a>
        </li>
      </ul> -->
        <div class="loginBox">
          <button
            type=""
            class="bgButtonColor text-light p-2"
            *ngIf="!isLoggedIn"
          >
            Signin
          </button>
          <span class="text-warning pb-2" *ngIf="isLoggedIn"
            >Welcome {{ user.displayName ? user.displayName : "User" }}</span
          >
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="user-icon text-light"
            *ngIf="isLoggedIn"
          >
            <!-- <i class="fa fa-user-o user_icon" aria-hidden="true"></i> -->
            <span>
              <img
                src="{{
                  user.photoUrl ? user.photoUrl : '../assets/avatar.png'
                }}"
                alt=""
                class="img-fluid rounded-circle pb-2"
                width="40px"
                height="40px"
              />
            </span>
          </button>
          <mat-menu #menu="matMenu" class="bg-success">
            <button mat-menu-item routerLink="profile">My Profile</button>
            <button mat-menu-item routerLink="employees-dashboard">
              Dashboard
            </button>
            <button mat-menu-item routerLink="change-password">
              Change Password
            </button>
            <button
              mat-menu-item
              routerLink="profile"
              [queryParams]="{ EditMode: true }"
            >
              Edit Profile
            </button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</nav>
